body {
    background-color: black;
}

/* Zoom Functionality */
.zoom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
    background-color: rgb(129, 25, 248);
}

.zoom p {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.zoom p span {
    font-style: italic;
    font-weight: 700;
}

/* Header */
.header {
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header h2 {
    color: white;
    margin-top: 2rem;
}

.header-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 24px;
    padding: 2rem 4rem;
    margin-top: 2rem;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button:nth-child(2) {
    margin-right: 2rem;
    margin-left: 2rem;
}

/* Button */
.header-button a {
    text-decoration: none;
    border-radius: 32px;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    transition: .5s ease all;
    border: 2px solid white;
    background-color: white;
    color: black;
}

.header-button a:hover {
    text-decoration: none;
    border: 2px solid white;
    background-color: rgb(129, 25, 248);
    color: white;
}

/* Preloaders */
#loader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    margin-top: 8rem;
}

#loader-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    margin-top: 8rem;
}
  
#loader-genius {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 8rem;
}

/* Circle */
.circle {
    padding: 5px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 3px solid white;
    border-radius: 50%;
    border-bottom: 3px solid rgb(129, 25, 248);
    border-top: 3px solid rgb(129, 25, 248);
    animation: rotate 4s linear infinite;
}

/* Genius */
.genius {
    padding: 5px;
    width: 200px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    border-bottom: 3px solid rgb(129, 25, 248);
    border-top: 3px solid rgb(129, 25, 248);
    animation: rotate 4s linear infinite;
}

/* Square */
.square {
    padding: 5px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 3px solid white;
    border-radius: 10%;
    border-bottom: 3px solid rgb(129, 25, 248);
    border-top: 3px solid rgb(129, 25, 248);
    animation: rotate 7s linear infinite;
}

/* Keyframes */
@keyframes rotate {
    100% {transform: rotate(360deg);}
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}